// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

#include "ipq6018.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/soc/qcom,tcsr.h>

/ {
	model = "Qihoo 360 V6";
	compatible = "qihoo,360v6";

	aliases {
		led-boot = &led_power;
		led-failsafe = &led_power;
		led-running = &led_power;
		led-upgrade = &led_power;
	};

	chosen {
		bootargs-append = " ubi.mtd=rootfs root=/dev/ubiblock0_1";
	};

	soc {
		rng@22000 {
			status = "okay";
		};

		mdio@90000 {
			status = "okay";
		};

		ess-psgmii@98000 {
			status = "okay";
		};

		tcsr@1949000 {
			compatible = "qcom,tcsr";
			reg = <0x1949000 0x100>;
			qcom,wifi_glb_cfg = <TCSR_WIFI_GLB_CFG>;
		};

		tcsr@194b000 {
			compatible = "qcom,tcsr";
			reg = <0x194b000 0x100>;
			qcom,usb-hsphy-mode-select = <TCSR_USB_HSPHY_HOST_MODE>;
		};

		ess_tcsr@1953000 {
			compatible = "qcom,tcsr";
			reg = <0x1953000 0x1000>;
			qcom,ess-interface-select = <TCSR_ESS_PSGMII>;
		};

		tcsr@1957000 {
			compatible = "qcom,tcsr";
			reg = <0x1957000 0x100>;
			qcom,wifi_noc_memtype_m0_m2 = <TCSR_WIFI_NOC_MEMTYPE_M0_M2>;
		};

		usb2@60f8800 {
			status = "okay";

			dwc3@6000000 {
				#address-cells = <1>;
				#size-cells = <0>;

				usb2_port1: port@1 {
					reg = <1>;
					#trigger-source-cells = <0>;
				};
			};
		};

		usb3@8af8800 {
			status = "okay";

			dwc3@8a00000 {
				#address-cells = <1>;
				#size-cells = <0>;

				usb3_port1: port@1 {
					reg = <1>;
					#trigger-source-cells = <0>;
				};

				usb3_port2: port@2 {
					reg = <2>;
					#trigger-source-cells = <0>;
				};
			};
		};

		crypto@8e3a000 {
			status = "okay";
		};

		watchdog@b017000 {
			status = "okay";
		};

		ess-switch@c000000 {
			status = "okay";
		};

		edma@c080000 {
			status = "okay";
		};
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&tlmm 28 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_power: power {
			label = "360v6:blue:power";
			gpios = <&tlmm 29 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		wifi2g {
			label = "360v6:blue:wifi2g";
			gpios = <&tlmm 30 GPIO_ACTIVE_LOW>;
		};

		wifi5g {
			label = "360v6:blue:wifi5g";
			gpios = <&tlmm 31 GPIO_ACTIVE_LOW>;
		};

		wan {
			label = "360v6:blue:wan";
			gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
		};

		lan {
			label = "360v6:blue:lan";
			gpios = <&tlmm 33 GPIO_ACTIVE_LOW>;
		};
	};
};

&blsp1_uart3 {
	status = "okay";
};

&cryptobam {
	status = "okay";
};

&crypto {
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&tlmm {
	mdio-gpio {
		compatible = "virtual,mdio-gpio";
		gpio-mdc = <&tlmm 34 GPIO_ACTIVE_HIGH>;
		gpio-mdio = <&tlmm 35 GPIO_ACTIVE_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;

		switch@0 {
			reg = <0>;
			compatible = "qca,qca8337";
		};
	};
};

&usb2 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&wifi0 {
	status = "okay";
	qcom,ath11k-calibration-variant = "qihoo_360v6";
};

&wifi1 {
	status = "okay";
	qcom,ath11k-calibration-variant = "qihoo_360v6";
};

&blsp1_i2c2 {
	status = "okay";
};

&blsp1_spi1 {
	status = "okay";
};
